---

services:
  db:
    image: mysql:8.0
    environment:
      MYSQL_DATABASE: Bookshelf
      MYSQL_ROOT_PASSWORD: rootpassword
    ports:
      - "3306:3306"
    volumes:
      - ./dbDump.sql:/docker-entrypoint-initdb.d/init.sql
      - db_data:/var/lib/mysql
    healthcheck:
      test: [ "CMD-SHELL", "mysqladmin ping -h localhost -u root -prootpassword" ]
      interval: 5s
      timeout: 5s
      retries: 5
      start_period: 10s
  app:
    build:
      context: .
    command: make start
    ports:
      - "8000:8000"
    volumes:
      - .:/app
    depends_on:
      - db
volumes:
  db_data: