---

services:
  db:
    image: postgres:18
    environment:
      POSTGRES_DB: Bookshelf
      POSTGRES_USER: root
      POSTGRES_PASSWORD: rootpassword
    ports:
      - "5432:5432"
    volumes:
      - ./dbDump.sql:/docker-entrypoint-initdb.d/init.sql
      - db_data:/var/lib/postgressql/data
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U root -d Bookshelf" ]
      interval: 5s
      timeout: 5s
      retries: 5
      start_period: 10s
  app:
    build:
      context: .
    command: make start
    ports:
      - "8000:8000"
    volumes:
      - .:/app
    depends_on:
      db:
        condition: service_healthy
volumes:
  db_data: